<h1>Create new device</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputdevicename">Device name</label>
      <input type="text" class="form-control" id="inputdevicename" placeholder="Name">
    </div>
  </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="deviceselect">Device Type</label>
            <select class="form-control" id="deviceselect">
            <option>Temperature Sensor</option>
            <option>Temperature and Humidity Sensor</option>
            </select>
        </div>
    </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>